.hidden {
  visibility: hidden;
}

.formContainer {

  min-width: 100%;
  // text-align: center;

  mat-form-field {
    clear: both;
    min-width: 100%;
  }

  .roundTypeSelect {
    width: 100%;
    margin: 10px 0;
    mat-button-toggle {
      width: 33%;
    }
  }
  
}

#friendSelect {
  button {
    min-width: 46%;
    margin: 1%;
  }
}

.questionCards {

  .wideButton {
    display: block;
    min-width: 100%;
  }

  .scoreSummaryCard {
    margin: 10px;
    line-height: 0px;
  }

  .friendScoreCard {
    * {
      margin: 0;
    }

    // width: 100%;
    margin: 10px 0;
  }

  @media (min-width: 720px) {
    max-width: 70%;
  }
}

#teeboxSelect {
  .my-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .my-radio-button {
    margin: 5px;
    font-size: large;
  }
}