<mat-card>
  <div id="firstQuestion" class="questionCards" *ngIf="step === 1">
    <h2>Which course did you play?</h2>
    <div class="formContainer">
      <mat-form-field appearance="fill">
        <mat-label>Select Course</mat-label>
        <mat-select [(value)]="selectedCourseId">
          <mat-option *ngFor="let course of courses" [value]="course.Id">
            {{course.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button class="wideButton" *ngIf="selectedCourseId" (click)="submitFirst()">Next</button>
    </div>
  </div>

  <div id="secondQuestion" class="questionCards" *ngIf="step === 2">
    <h2>Did you play with any friends?</h2>
      <button mat-stroked-button (click)="submitSecond(true)">Yes</button>
      <button mat-stroked-button (click)="submitSecond(false)">No</button>
  </div>

  <div id="thirdQuestion" class="questionCards" *ngIf="step === 3">
    <h2>Who did you play with?</h2>
    <p>Friends coming soon!</p>
    <button mat-stroked-button class="wideButton" (click)="submitThird()">Next</button>
  </div>

  <!-- TODO: add date picker for fourth question -->
</mat-card>