.column_div {
  display: flex;
  flex-direction: column;
}

.row_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  * {
    margin: 0;
    padding: 0;
  }

  margin-top: 25px;

  mat-list {
    margin: 15px 0 15px 0;

    ::ng-deep .mat-list-item-content {
      padding: 0!important;
    }

    mat-list-item {
      height: 65px;
      margin: 20px 0;

      single-hole-single-player {
        width: 100%;
      }
    }  
  }
}