<div class="column_div container">
  
  <mat-card-title>
    #{{liveRound.Course.Holes[holeNumber - 1].Number}}
  </mat-card-title>
  <mat-card-subtitle>
    Par {{liveRound.Course.Holes[holeNumber - 1].Par}}
    Handicap: {{liveRound.Course.Holes[holeNumber - 1].Handicap}}
  </mat-card-subtitle>

  <mat-list>
    <mat-list-item *ngFor="let player of liveRound.Players">
      <single-hole-single-player
      [holeNumber]="holeNumber"
      [liveRound]="liveRound"
      [player]="player">
      </single-hole-single-player>
    </mat-list-item>
    
  </mat-list>

</div>