<mat-card id="pastScoreContainerCard">

  <mat-button-toggle-group (change)="selectorChanged($event)" [(ngModel)]="selectedYear" class="yearSelect">
    <mat-button-toggle *ngFor="let year of yearList" value="{{year}}">{{year}}</mat-button-toggle>
  </mat-button-toggle-group>

  <div id="noScores" *ngIf="!getScores().length && !loading">
    <h2>No Results</h2>
    <p>You haven't posted any scores yet for {{selectedYear}}</p>
  </div>

  <mat-list id="pastScoreList" *ngIf="getScores().length && !loading">
    <app-past-score-item *ngFor="let score of getScores()" [score]="score"></app-past-score-item>
  </mat-list>

</mat-card>
