<mat-toolbar color="primary">

  <button mat-button class="sidenavToggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <div id="logo_wrapper">
    <img class="logo" src="../../assets/images/stroker-logos/logo_white.svg" />
  </div>
  <button *ngIf="loggedIn" mat-button id="profileButon" (click)="profileClicked()">
    <mat-icon [matBadge]="profileBadgeIcon" matBadgeSize="small" matBadgeOverlap="true"
      [matBadgeHidden]="!profileBadgeIcon" matBadgeColor="accent" matBadgePosition="after">
      perm_identity</mat-icon>
  </button>
</mat-toolbar>