$iconWidth: 56px;

mat-toolbar {
  display: flex;
  flex-direction: row;
  padding: 0;

  @media (min-width: 720px) {
    padding: 0 16px;
  }

  #logo_wrapper {
    flex:1;
  }

  .logo {
    margin-top: 18px;
    margin-left: 10px;
    height: 1.5em;
  }
  
  .sidenavToggle {
    display: none;

    padding: 0;
    margin: 8px;
    min-width: $iconWidth;
    
    @media (max-width: 720px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-icon {
      font-size: 30px;
      height: $iconWidth;
      width: $iconWidth;
      line-height: $iconWidth;
      color: white;
    }
  }
}