.disabled {
  pointer-events: none;
  opacity: .5;
}

.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;

  height: 100%;
  min-height: 100%;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;

  overflow: hidden;

  background-image: url('../assets/images/course.jpg');
  background-size: cover;

  .main {
    margin: 10px auto;
    height: 100%;
    min-height: 80%;
    width: 95%;
  }
}

.app-sidenav {
  width: 240px;
  border: none;
}

mat-spinner {
  position: fixed;
  left:calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 999;
}