<!-- <router-outlet></router-outlet> -->

<mat-sidenav-container [ngClass]="{'disabled': appLoading}" class="app-sidenav-container" autosize>
  <mat-sidenav #drawer class="app-sidenav mat-elevation-z10" [mode]="smallScreen ? 'over' : 'side'"
    [opened]="!smallScreen" [disableClose]="!smallScreen">
    <app-nav></app-nav>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-header (toggleSidenav)="drawer.toggle()"></app-header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
<mat-spinner *ngIf="appLoading" diameter="30" color="warn"></mat-spinner>