.disabled {
  pointer-events: none;
  opacity: .5;
}

app-header {
  // position: fixed;
  width: 100%;
  min-width: 100%;
  // z-index: 99;
}

.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;

  height: 100%;
  min-height: 100%;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  background-image: url('../assets/images/golf-course-1824369.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .main {
    margin: 75px auto;
    height: 100%;
    min-height: 80%;
    width: 95%;

    ::ng-deep mat-card {
      opacity: .93;
    }
  }
}

.app-sidenav {
  width: 240px;
  border: none;
}

mat-spinner {
  position: fixed;
  left:calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 999;
}