<div id="numberPicker">
  <mat-grid-list cols="2" rowHeight="35px">
    <mat-grid-tile [rowspan]="2" [colspan]="1">
      <mat-form-field class="input-form">
        <input matInput type="number" autocomplete="off" [(ngModel)]="num" (keyup)="publishNumber()">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <button mat-icon-button (click)="increment()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <button mat-icon-button *ngIf="num > 0" (click)="decrement()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>