<mat-toolbar color="primary">Menu</mat-toolbar>
<mat-list class="nav-list">

  <a class="nav-link"  [ngClass]="{'active': isActive('/landing'), 'disabled': !isLoggedIn}" (click)="handleLink('/landing')">
    <mat-list-item class="nav-item">
      Home
    </mat-list-item>
  </a>
  
  <a class="nav-link"  [ngClass]="{'active': isActive('/newScore'), 'disabled': !isLoggedIn}" (click)="handleLink('/newScore')">
    <mat-list-item class="nav-item">
      Record New Score
    </mat-list-item>
  </a>

  <a class="nav-link"  [ngClass]="{'active': isActive('/liveGame'), 'disabled': !isLoggedIn}" (click)="handleLink('/liveGame')">
    <mat-list-item class="nav-item">
      Live Round
    </mat-list-item>
  </a>

  <a class="nav-link"  [ngClass]="{'active': isActive('/scores'), 'disabled': !isLoggedIn}" (click)="handleLink('/scores')">
    <mat-list-item class="nav-item">
      View Past Scores
    </mat-list-item>
  </a>

  <a class="nav-link"  [ngClass]="{'active': isActive('/friends'), 'disabled': !isLoggedIn}" (click)="handleLink('/friends')">
    <mat-list-item class="nav-item">
      Friends
    </mat-list-item>
  </a>
  
  <a *ngIf="!isLoggedIn" class="nav-link"  [ngClass]="{'active': isActive('/login')}" (click)="handleLink('/login')">
    <mat-list-item class="nav-item">
      Log In
    </mat-list-item>
  </a>
  
  <a *ngIf="isLoggedIn" class="nav-link"  [ngClass]="{'active': isActive('/logOut')}" (click)="handleLink('/logOut')">
    <mat-list-item class="nav-item">
      Log Out
    </mat-list-item>
  </a>
  
  
</mat-list>