@import '../../mat-vars.scss';

.nav-list {

  .nav-item {
    cursor: pointer;
  }

  .disabled {
    .nav-item {
      color: $grey;
      pointer-events: none;
    }
  }

  .active {
    .nav-item {
      color: $secondary;
    }
  }
}