<mat-card class="landing_card">
  <h2 *ngIf="displayName">Hello {{displayName}}</h2>
  <mat-list>
    <mat-list-item>
      <button class="landing_button" mat-raised-button (click)="handleLink('/newScore')">Record New Round</button>
    </mat-list-item>
    <mat-list-item>
      <button class="landing_button" mat-raised-button (click)="handleLink('/liveGame')">Start Live Round</button>
    </mat-list-item>
    <mat-list-item>    
      <button class="landing_button" mat-raised-button (click)="handleLink('/scores')">View Past Scores</button>
    </mat-list-item>
  </mat-list>
</mat-card>