#flowContainer {
  margin-top:15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile_fab {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.avatar {
  width: 60%;
  border-radius: 50%;
}


